*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(images/registration.jpg);
    background-size: cover;
    overflow: hidden;
}

.wrapper{
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: 20px auto;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #8e33d8;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.wrapper .form .input-field label{
    width: 200px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 14px;
}

.wrapper .form .input-field .input,
.wrapper .form .input-field .textarea{
    width: 100%;
    outline: none;
    border: 1px solid #333333;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.2s ease;
}

.wrapper .form .input-field .textarea{
    resize: none;
    height: 125px;
}
/*.wrapper .form .input-field .custom-select{
    position: relative;
    width: 100%;
    height: 37px;
}

.wrapper .form .input-field .custom-select select{
    appearance: none;
    border: 1px solid #d5dbd9;
    width: 100%;
    height: 100%;
    padding: 8px 10px;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input-field .custom-select:before{
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #292c2b transparent transparent transparent;
    pointer-events: none;
}*/

.wrapper .form .input-field .input:focus,
.wrapper .form .input-field .textarea:focus,
.wrapper .form .input-field select:focus{
    border: 1.5px solid #8c00ff9a;
}

.wrapper .form .input-field p{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.wrapper .form .input-field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .input-field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .input-field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    display: block;
    position: relative;
}

.wrapper .form .input-field .check .checkmark:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 4px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .input-field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #8e33d8;
}

.wrapper .form .input-field .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}

.wrapper .form .input-field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #8e33d8;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input-field:last-child{
    margin-bottom: 0;
}

.wrapper .form .input-field .btn:hover{
    background: #b063f0;
}

@media (max-width: 420px){
    .wrapper .form .input-field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input-field label{
        margin-bottom: 5px;
    }
    .wrapper .form .input-field .terms{
        flex-direction: row;
    }
}