

html,body{
	background-image: url('/static/images/addPost_bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: auto;
	min-height: calc(100vh - 40px)!important;

}

.wrapper2{
    max-width: 800px;
    width: 100%;
    background: #f4f7f8;
    margin: 20px auto 0px;
	padding: 30px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 30px;
}

.form-style-5{
	max-width: 700px;
	padding: 10px 20px;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family:  "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
	border: none;
}
.form-style-5 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
	font-style: italic;
}
.form-style-5 label {
	display: block;
	margin-bottom: 8px;
}
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
	font-family: "Times New Roman", Times, serif;
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
	background: #d2d9dd;
	color: rgb(59, 59, 59);
}
.form-style-5 select{
	-webkit-appearance: menulist-button;
	height:35px;
}
.form-style-5 .number {
	background: #1abc9c;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"]
{
	position: relative;
	display: block;
	padding: 10px 39px 35px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #1abc9c;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #16a085;
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="button"]:hover
{
	background: #109177;
}

.sc_container label{
	display: inline-block;
}	

.sc_container {
	display: inline-block;
}

.subcat{
	margin-right:2px;
	margin-left:10px;
}

.radio {
	margin: 12px 15px 0 0px;
	display: block;
	cursor: pointer;
}
.radio input {
	display: none;
}
.radio input + span {
	line-height: 22px;
	height: 22px;
	padding-left: 22px;
	display: block;
	position: relative;
}
.radio input + span:not(:empty) {
	padding-left: 30px;
}
.radio input + span:before, .radio input + span:after {
	content: '';
	width: 22px;
	height: 22px;
	display: block;
	border-radius: 50%;
	left: 0;
	top: 0;
	position: absolute;
}
.radio input + span:before {
	background: #d1d7e3;
	transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}
.radio input + span:after {
	background: #fff;
	transform: scale(0.78);
	transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}
.radio input:checked + span:before {
	transform: scale(1.04);
	background: #5d9bfb;
}
.radio input:checked + span:after {
	transform: scale(0.4);
	transition: transform 0.3s ease;
}
.radio:hover input + span:before {
	transform: scale(0.92);
}
.radio:hover input + span:after {
	transform: scale(0.74);
}
.radio:hover input:checked + span:after {
	transform: scale(0.4);
}

#div_id_images{
	float:right;
}
#img{
	display: inline-flex;
	margin-bottom: 15px;
}

