@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
img{width: 100%}

body{
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    background: url("images/background.5.jpg");
    /*object-fit: contain;*/
}

.sub_category-container{
    margin:0px 20px 0px 20px;
    display: inline-block;
}
.sub_category{
    font-weight: 100;
    padding:8px;
    font-size: 14px;
    border-style: none;
    border-radius: 50px;
    background-color:#f2f2f2;
    margin:0px 5px 12px 5px;

}
.sub_category:hover{
    transform: scale(1.25);
    margin-left:20px;
    margin-right:20px;
    cursor: pointer;
}
.sub_category:focus{
    outline:none;
}

.sub_category-clicked{
    transform: scale(1.25);
    font-weight:1500px;
    background-color:#f2f2f2;
    margin-left:20px;
    margin-right:20px;

}
.sub_category-clicked::before{
    content:"\f057";
    font-family: FontAwesome;
    margin-right:2px;
    top:0;
    color:#ff471a;
    
}
.separator {
    margin-top: 10px;
    margin-bottom: 20px;
    border: 0;
}
.separator--line {
    border: 0;
    border-bottom: 3px solid #b3b300;
    width: 0;
    animation: separator-width 1s ease-out forwards;
}
@keyframes separator-width {
    0% {
        width: 0;
   }
    100% {
        width: 100%;
   }
}
/****************/


.category-head{
    display: inline ;
}

.category-head ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color: #222;
}
.category-title{
    flex: 0 0 calc(16.6667% - 10px);
    display: flex;
    justify-content:center;
    background: #b3b300;
    padding: 12px;
    color: #222;
    margin: 0.5px ;
    cursor: pointer;
    transition: all 0.4s ease;
    max-width: 120px;
}
.category-title:hover{
    opacity: 0.7;
}
.category-title li{
    padding: 0 8px;
}
.category-title span{
    color: #222;
}
.category-active{
    background: #222;
    color:#b3b300;
}

/** single post **/
.posts-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
   
}
.post-img{
    position: relative;

}
.post-img img{
    height: 250px;
    object-fit: cover;
    
}
.category-name{
    position: absolute;
    top: 20px;
    left: 20px;
    text-transform: uppercase;
    font-size: 13px;
    color: #fff;
    padding: 4px 10px;
    border-radius: 2px;
    background-color: dodgerblue;
}


.post-content{
    padding: 25px;
}
.post-content-top{
    background: #80ced7;
    color: #fff;
    opacity: 0.8;
    padding: 5px 0 5px 15px;
}
.post-content-top span{
    padding-right: 20px;
}
.post-content-top .fa-comment, .post-content-top .fa-calendar{
    padding-right: 5px;
}
.post-content h2{
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}
.post-content p{
    opacity: 0.7;
    font-size: 15px;
    line-height: 1.8;
}
.read-btn{
    border: none;
    padding: 8px 15px;
    display: block;
    margin: 5px auto;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #292929;
    background: transparent;
    margin-bottom: 40px;
}

.read-btn:hover{
    background: #f6f6f6;
}
.single-post{
    transition: 0.5s;
    background: #eee;
}
.single-post:hover{
    transform: translateY(-20px);
    box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

#loadmore{
    max-height:50px;
    width:200px;
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 10px;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
}

#loadmore:hover{
    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}
/***************/
@media(max-width: 1170px){
    .posts-main-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width: 768px){
    .posts-main-container{
        grid-template-columns: 1fr;
    }
}


/***********/

