/******************
Login
*******************/
*{
    margin: 0;
    padding: 0;
}

.login_body,.login_html{
    background-image: url('../images/cool-background.jpg');
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.login_form label{
    color:white
}
.login_body a{
    color:#fff;
}
#div_id_username label{
   font-size: 0;
}
#div_id_username label:before{
    content: "Email address*";
    font-size: 16px; 
}

input[type="submit"]{
    width: 100px;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    border-color: #2691d9;
    transition: 0.5s;
}

.pass{
    margin: -5px 1 20px 5px;
    color: #020202;
    cursor: pointer;

}

.pass:hover{
    text-decoration: underline;
}

.close{
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

/******************
Navbar
*******************/

*{
    margin: 0;
    padding: 0;
}

.navbar{
    width: 100%;

    background: #008080;

}

.container{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 150px;
    height: 70px;
    margin-left: 0;
    padding-left: 0;
    float: left;
}

.menu{
    float: right;
}

.menu li{
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    list-style-type: none;
}

.menu li a{
    color: #fff;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform: uppercase;
    display: block;
}

.menu li:hover{
    background-color: #00e6e6;
}

.menu li.no-hover:hover{
    background-color: #008080;
}

/********************
Registration
********************/
.register_body{
    background-image: url('../images/cool-background.jpg');
    background-size: cover;
    overflow-x: hidden;
    padding-bottom: 20px;

}
.wrapper{
    max-width: 500px;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    margin: 20px auto 0px;
    padding: 30px;
    box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
}

.wrapper .title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #8e33d8;
    text-transform: uppercase;
    text-align: center;
}

.wrapper .form{
    width: 100%;
}

.wrapper .form .input-field{
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}
.register_body label{
    width: 200px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 14px;
    display: inline;
}
.register_body .form-check label{
    width: 200px;
    font-weight: 450;
    color: rgb(0, 0, 0);
    margin-right: 10px;
    font-size: 14px;
}
#div_id_gender .form-check{
    display: inline;
}

.wrapper .form .input-field .input:focus,
.wrapper .form .input-field .textarea:focus,
.wrapper .form .input-field select:focus{
    border: 1.5px solid #8c00ff9a;
}

.wrapper .form .input-field p{
    font-size: 14px;
    font-weight: 700;
    color: #000000;
}

.wrapper .form .input-field .check{
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
}

.wrapper .form .input-field .check input[type="checkbox"]{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.wrapper .form .input-field .check .checkmark{
    width: 15px;
    height: 15px;
    border: 1px solid #000000;
    display: block;
    position: relative;
}

.wrapper .form .input-field .check .checkmark:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 4px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
}

.wrapper .form .input-field .check input[type="checkbox"]:checked ~ .checkmark{
    background: #8e33d8;
}

.wrapper .form .input-field .check input[type="checkbox"]:checked ~ .checkmark:before{
    display: block;
}

.wrapper .form .input-field .btn{
    width: 100%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0;
    background: #8e33d8;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
}

.wrapper .form .input-field:last-child{
    margin-bottom: 0;
}

.wrapper .form .input-field .btn:hover{
    background: #b063f0;
}


@media (max-width: 420px){
    .wrapper .form .input-field{
        flex-direction: column;
        align-items: flex-start;
    }
    .wrapper .form .input-field label{
        margin-bottom: 5px;
    }
    .wrapper .form .input-field .terms{
        flex-direction: row;
    }
}






