body {
  font-family: 'open sans';
  overflow-x: hidden;
 }

.nav {
  margin-bottom: 1.5rem;
}


img {
  max-width: 100%; }
  
.nav-link{
  border-radius: 200px!important;
  box-shadow: 0px 5px 35px 0px rgba(0, 0, 0, 0.3);
  margin-left:10px!important;
  color:black;
}
.nav-link:hover{
  color:rgb(85, 85, 85);
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: black;
  
}

.preview-pic img{
  width:100%;
  height: 300px;
  padding-bottom: 0px!important;
}
.media-object{
  margin-right:5px;
  border-radius:50%;
  width:100px;
  height:100px;
  color:#00cc00;
}

button:focus{
  outline:none;
}
.preview {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px; } }

.preview-pic {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 15px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
    .preview-thumbnail.nav-tabs li img {
      cursor: pointer;
      max-width: 100%;
      display: block; }
    .preview-thumbnail.nav-tabs li a {
      padding: 0;
      margin: 0; }
    .preview-thumbnail.nav-tabs li:last-of-type {
      margin-right: 0; }

.user-profile > .username{
  align-self: center;
  min-width:100%;
}

.card {
  margin-top: 50px;
  background: #eee;
  padding: 3em;
  line-height: 1.5em; }


@media screen and (min-width: 900px) {
  .wrapper-detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.product-title, .price, .sizes, .colors {

  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 0px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
  .size:first-of-type {
    margin-left: 40px; }




.not-available {
  text-align: center;
  line-height: 2em; }
  .not-available:before {
    font-family: fontawesome;
    content: "\f00d";
    color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
            transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1); } }
  
/*************************PROFILE**********************/

.user-profile {
  padding:20px;
  padding-bottom:0px;
	max-width: 25em; 
  background: #222;
  border-radius: .3em;
  margin-bottom:0px;
  margin-top:0px;

}

.user-profile  .username {
  color:#fff!important;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}

.user-profile > .description {
  width: 14em;
  color:#fff!important;
  font-size: .87em;
  font-family: "varela round", sans-serif;
  
}
.description a{
color:#fff!important;
  
}

.user-profile > a{
  align-self: center;
}
.user-profile > a > img.avatar {

  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}


/*************BOOKMARKSSS***************/


.bookmark label {
  box-shadow: 0px 0px 0px 0px rgba(13, 165, 142, 0.5);
  cursor:pointer;
}
.bookmark label:after {
  content: "\f02e";
}
.bookmark input:checked + label {
  background-color: #222;
  border-color: #222;
  box-shadow: 0px 0px 0px 0.5em rgba(13, 165, 142, 0);
}
.bookmark input:checked + label:after {
  color: #222;
}
.anim-icon {
  width: 1.9em;
  height: 1.9em;
  margin: 20px;
  font-size: 13px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.anim-icon input {
  display: none;
}
.anim-icon label {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 0.1em solid #cccccc;
  border-radius: 100%;
  display: block;
  font: normal normal normal 13px FontAwesome;
  color: #cccccc;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.anim-icon label:after {
  left: 0;
  top: 50%;
  margin-top: -0.5em;
  display: block;
  position: relative;
  text-align: center;
}
.anim-icon input:checked + label {
  animation: check-in 0.3s forwards;
  transition: background-color 0.1s 0.2s, box-shadow 1s;
  border-width: 0.1em;
  border-style: solid;
}
.anim-icon input:checked + label:after {
  animation: icon .3s forwards;
}
.anim-icon-md {
  font-size: 20px;
}
.anim-icon-lg {
  font-size: 30px;
}
@keyframes icon {
  0% {
    margin-top: -0.5em;
    font-size: 1.5em;
  }
  100% {
    font-size: 1em;
    opacity: 1;
    color: white;
  }
}
@keyframes check-in {
  0% {
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%;
  }
  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
@keyframes check {
  0% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }
  10% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  80% {
    left: -5%;
    top: -5%;
    width: 110%;
    height: 110%;
  }
  90% {
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
  }
  100% {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}
