@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
/*:root {
    --color: #e40046;
}
*/
*{
    list-style: none;
	font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;

}

body {
    background: #e9e9e9;
    overflow-x: hidden;
    font-family: "poppins", sans-serif;

}

.profile-header {
    background: #fff;
    width: 100%;
    display: flex;
    height: 190px;
    position: relative;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, .2);
}

.profile-img {
    float: left;
    width: 340px;
    height: 200px;
}

.profile-img img {
    border-radius: 50%;
    height: 230px;
    width: 230px;
    border: 4px solid #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, .2);
    position: absolute;
    left: 50px;
    top: 20px;
    z-index: 5;
    background: #fff;
}

.profile-nav-info {
    float: left;
    flex-direction: column;
    justify-content: center;
    padding-top: 60px;
}

.profile-nav-info h3 {
    font-variant: small-caps;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: bold;
}

.profile-nav-info.address {
    display: flex;
    font-weight: bold;
    color: #777;
}

.profile-nav-info.address p {
    margin-right: 5px;
}

.profile-option {
    width: 40px;
    height: 40px;
    background: #e40046;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(50%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .5s ease-in-out;
    outline: none;
}

.profile-option.notification i {
    color: #fff;
    font-size: 1.2rem;
    transition: all.5s ease-in-out;
}

.profile-option:hover {
    background: #fff;
    border: 1px solid #e40046;
}

.profile-option:hover.notification i {
    color: #e40046;
}

.profile-option.notification.alert-message {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    color: #e40046;
    border: 1px solid;
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .8rem;
    font-weight: bold;
}

.main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
}

.profile-side {
    width: 300px;
    background: #fff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, .2);
    padding: 90px 30px 20px;
    font-family: 'Bree Serif', serif;
    margin-left: 10px;
    z-index: 99;
}

.profile-side p {
    margin-bottom: 7px;
    color: #333;
    font-size: 14px;
}

.profile-side p i {
    color: #e40046;
    margin-right: 10px;
}

.mobile-no i {
    transform: rotateY(180deg);
}

.profile-btn {
    display: flex;
}

button.classbtn,
button.create-btn {
    border: 0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    background: #e40046;
    font-family: "Bree Serif", sans-serif;
    font-size: 1rem;
    margin: 5px 2px;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background 0.3s ease-in-out;
    box-shadow: 0px 5px 7 px 0px rgba(0, 0, 0, .3);
    color: #fff;
}

button.chatbtn:hover,
button.createbtn:hover {
    background: rgba(288, 0, 70, .9);
}

button.chatbtn i,
button.createbtn i {
    margin-right: 5px;
}

.user-rating {
    display: flex;
}

.user-rating h3 {
    font-size: 2.5rem;
    font-weight: 200;
    margin-right: 5px;
    letter-spacing: 1px;
    color: #666;
}

.user-rating.no-user {
    font-size: .9rem;
}

.rate {
    padding-top: 6px;
}

.rate i {
    font-size: .9rem;
    color: #e40046;
}
/****************TABS**********************************************************/
.tabs{
    margin-bottom: 0px;
    display: flex!important;
}
.tabs li {
     width: 200px;
}
.tabs a {
	 display: block;
	 text-align: center;
	 text-decoration: none;
	 text-transform: uppercase;
	 padding: 20px 0;
     color: #888;
     background: #ddd;
     border-bottom: none;
}
 .tabs a:hover, .tabs a.active {
    color: #888;
    background: #f7f7f7;
     border-bottom: 2px solid #888;
}
.tabgroup{
    margin-top: 0px;

}
 .tabgroup div {
 
     padding: 30px;
     padding-left: -2px;
	 box-shadow: 5px 3px 10px 0px rgba(0,0,0,0.3);
}
 .clearfix:after {
	 content: "";
	 display: table;
	 clear: both;
}
/* .tabs3 a{
    border-right:none;
} */

/* .tabgroup div form div{
    box-shadow: none;
    padding: 0px;
    padding-left:20px;
    width:80%;
} */

/***********************************************************************************
                    USER POST LIST 
/***********************************************************************************/
.view_item img , .view_item-bookmark img{
	width: 75px;
}

.wrapper2 , .wrappers-settings {
	width: 800px;
    margin: -20px auto;
    
}
.tabgroup .wrapper2{
    box-shadow: none;
}
.tabgroup .wrapper2 div{
    box-shadow: none;
    padding: 10px;
}
.links , .links-bookmark{
	margin-bottom: 25px;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
}

.links ul,.links-bookmark ul{
	display: flex;
	justify-content: center;
}

.links ul li ,.links-bookmark ul li{
	margin: 0 15px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size: 20px;
	cursor: pointer;
}

.links ul li:hover,
.links ul li.active{
	color: #4abd3e;
}
.links-bookmark ul li:hover,
.links-bookmark ul li.active{
	color: #4abd3e;
}

.view_main ,.view_main-bookmark {
	background: #fff;
	border-radius: 3px;
	padding: 15px;
}

.list-view .view_item , .list-view-bookmark .view_item-bookmark{
	background: #fff;
	border: 1px solid #e2efe1;
	margin: 10px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}

.list-view .view_item:last-child{
	margin-bottom: 0;
}
.list-view-bookmark .view_item-bookmark:last-child{
	margin-bottom: 0;
}

.list-view .view_item .vi_left , .list-view-bookmark .view_item-bookmark .vi_left-bookmark {
	margin-right: 25px;
}

.view_item .title , .view_item-bookmark .title{
	font-weight: 600;
}

.view_item .content, .view_item-bookmark .content{
	margin: 5px 0;
	font-size: 14px;
	line-height: 22px;
	font-weight: 200;
}

.view_item .btn, .view_item-bookmark .btn {
	width: 100px;
	background: #4abd3e;
	padding: 1px 1px 1px 1px !important;
	border-radius: 3px;
	color: #fff;
	text-align: center;
	font-weight: 400;
    cursor: pointer;
}

.view_item .btn:hover, .view_item-bbokmark .btn:hover{
	background: #3bd62b;
}

/***********************************************************************************
                    USER POST GRID 
/***********************************************************************************/

.grid-view , .grid-view-bookmark{
	width: 100%;
}

.grid-view .view_item,.grid-view-bookmark .view_item-bookmark {
	display: inline-block;
    border: 1px solid #e2efe1;
    width: 210px;

    padding: 10px;
    text-align: center;
    margin: 3px;
   
}

.grid-view .view_item .vi_left, .grid-view-bookmark .view_item-bookmark .vi_left-bookmark {
	margin-bottom: 0px;
}

.grid-view .view_item .btn, .grid-view-bookmark .view_item-bookmark .btn{
	margin: 0 auto;
}

/* ************************************************************************************ */
/* ************************************************************************************ */
/* ************************************************************************************ */
#see-more-bio,
#see-less-bio {
    color: blue;
    cursor: pointer;
    text-transform: lowercase;
}

@media(max-width:1100px) {
    .wrapper2 , .wrappers-settings {
        width: 560px;
        margin: -20px auto;
        
    }
    .profile-side {
        width: 250px;
        padding: 90px 15px 20px;
    }
    .profile-img img {
        height: 200px;
        width: 200px;
        left: 50px;
        top: 50px;
    }
}

@media(max-width:900px) {
    .grid-view .view_item , .grid-view-bookmark .view_item-bookmark{
        display: inline-block;
        border: 1px solid #e2efe1;
        width: 180px;
        padding: 10px;
        text-align: center;
        margin: 3px;
       
    }
    .wrapper2 , .wrappers-settings{
        width: 600px;
        margin: -20px auto;
    }
    body {
        margin: 0 20px;
    }
    .profile-header {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
    }
    .profile-img img {
        position: relative;
        left: 0;
    }
    .profile-nav-info {
        text-align: center;
    }
    .profile-nav-info.address {
        justify-content: center;
    }
    .profile-option {
        right: 20px;
        top: 75%;
        transform: translateY(50%);
    }
    .main-bd {
        flex-direction: column;
        padding-right: 0px;
    }
    .profile-side {
        width: 100%;
        text-align: center;
        padding: 20px;
        margin: 5px 0;
    }
    .user-rating {
        justify-content: center;
    }
    @media(max-width: 400px) {
        .wrapper2 , .wrappers-settings{
            width: 300px;
            margin: -20px auto;
        }
        body {
            margin: 0;
        }
        .profile-header h3 {
            font-size: 1.7rem;
        }
        .profile-header p,
        .profile-header span {
            font-size: .9rem;
        }
        .profile-option {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            top: 83%;
        }
        .profile-option.notification.alert-message {
            top: -3px;
            right: -4px;
            padding: 4px;
            height: 15px;
            width: 15px;
            font-size: .7rem;
        }
    }
}

/******************DELETE BUTTON****************************/
.delete-button{
    background-color:#e40031;
    padding:5px 8px 5px 8px;
    cursor:pointer;
    border:none;
}
.delete-button:hover,.classbtn:hover {
    background-color:hsl(347, 100%, 45%);
    cursor:pointer;
    box-shadow: rgb(51, 51, 51) 2px 2px ;
    outline:none;
}

