{% extends 'donation/base.html' %}
{% load static %}

{% block content %}

<html>
<head>
	<title>About Us</title>
	       <link rel="stylesheet" type="text/css" href="{% static 'donation/about.css' %}">
</head>
<body>


<div>
  <div class="container py-5">
    <div class="row h-100 align-items-center py-5">
      <div class="col-lg-6">
        <h1 class="display-4 text-white">About us</h1>
        <p class="lead  mb-0 text-white " >We at Freestuff4you are dedicated to provide services that would be beneficial for those who want to donate their stuff easily by just making a post about it on our website.</p>
       
      </div>
      <div class="col-lg-6 d-none d-lg-block"><img src="{% static 'images/image1.png' %}" alt="" class="img-fluid"></div>
    </div>
  </div>
</div>
<ul class="bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
	</ul>


<hr class="new"/>

<div class="py-5">
  <div class="container py-5">
    <div class="row align-items-center mb-5">
      <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light text-white">How to upload?</h2>
        <p class="font-italic mb-4 text-white">To upload the things you want to donate you first have to register to our website. Then verify your account sent to your e-mail id. Then by clicking on the upload tab on the navigation bar you will be directed to a page where you will be able make a post.</p>
      </div>
      <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834139/img-1_e25nvh.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 px-5 mx-auto"><img src="https://res.cloudinary.com/mhmd/image/upload/v1556834136/img-2_vdgqgn.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
      <div class="col-lg-6"><i class="fa fa-leaf fa-2x mb-3 text-primary"></i>
        <h2 class="font-weight-light text-white">How to get the donation?</h2>
        <p class="font-italic mb-4 text-white">If you want to get the donations uploaded by others you can click on the post to go to the product description page. There you can read about the details of the post. Contact details of the post owner will be provided there which you can use to contact the owner and confirm with him that you are willing to take the donation.</p>
      </div>
    </div>
  </div>
</div>
<ul class="bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>

<hr class="new"/>

<div class=" py-5">
  <div class="container py-5">
    <div class="row mb-4">
      <div class="col-lg-5">
        <h2 class="display-4 font-weight-light text-white">Our team</h2>
        <p class="font-italic text-white">Our dedicated team working hard at FreeStuff4you to bring goodness to everyone's Life</p>
      </div>
    </div>

    <div class="row text-center">
      <!-- Team item-->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="team-single">
          <div class="content-area">
            <div class="side-one">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img-area">
                    <img src="{% static 'images/Het.jpeg' %}" alt="">
                    <h4>Het Parekh</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="side-two">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4>Het Parekh</h4>
                  <h2><p>CO-FOUNDER</p></h2>
                  <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/HetTheMan?s=09" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-instagram" ></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/het-parekh-87839a1b0/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="team-single">
          <div class="content-area">
            <div class="side-one">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img-area">
                    <img src="{% static 'images/Arjun.jpg' %}" alt="">
                    <h4>Arjun Pitroda</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="side-two">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4>Arjun Pitroda</h4>
                  <h2><p>CO-FOUNDER</p></h2>
                  <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/arjun.n.pitroda" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/pitrodaarjunn" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/arjunpitroda0_0/" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/arjun-pitroda-33010a17b" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="team-single">
          <div class="content-area">
            <div class="side-one">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img-area">
                    <img src="{% static 'images/Archit.jpeg' %}" alt="">
                    <h4>Archit Patil</h4>
                  </div>
                </div>
              </div>
            </div>
            <div class="side-two">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4>Archit Patil</h4>
                  <h2><p>CO-FOUNDER</p></h2>
                  <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="https://www.facebook.com/archit.patil.75" class="social-link" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="https://twitter.com/ArchitPatil74" class="social-link" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/archit.patil.75" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/archit-patil-3283731a1/" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->

      <!-- Team item-->
      <div class="col-xs-12 col-sm-6 col-md-3">
        <div class="team-single">
          <div class="content-area">
            <div class="side-one">
              <div class="card">
                <div class="card-body text-center">
                  <div class="img-area">
                    <img src="{% static 'images/Vinod.jpeg' %}" alt="">
                  </div>
                  <h4 class="name">Vinod Singh Rajpurohit</h4>
                </div>
              </div>
            </div>
            <div class="side-two">
              <div class="card">
                <div class="card-body text-center mt-4">
                  <h4>Vinod Singh Rajpurohit</h4>
                  <h2><p>CO-FOUNDER</p></h2>
                  <ul class="social mb-0 list-inline mt-3">
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-facebook-f"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="social-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com/rajpurohit_vinod45" class="social-link" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.linkedin.com/in/vinod-singh-rajpurohit-ba08531a0" class="social-link" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->


    </div>
  
  </div>
</div>
<ul class="bubbles">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
	</ul>



<footer class="bg-light pb-5">
  <div class="container text-center">
    <p class="font-italic text-muted mb-0">&copy; Copyrights Company.com All rights reserved.</p>
  </div>
</footer>


</body>
</html>
{% endblock content %}
