{% extends 'donation/base.html' %}
{% load crispy_forms_tags%}
{% load static %}

{% block content %}
<html>
<head> <link rel="stylesheet" href="{% static 'donation/addPost.css' %}"></head>
    
    <body>
        <div class="wrapper2">
            <div class="form-style-5">
                <form method = "POST" class='form'  enctype = 'multipart/form-data'>
                {% csrf_token %}
                    <fieldset>
                        <h5><legend><span class="number"><i class="fa fa-info" aria-hidden="true"></span> Post Info</legend></h5>
                        {{addform|crispy}}
                        {% comment %} <div class="form-group" id="div_id_category"> <label class="requiredField" for="id_category">
                             Category<span class="asteriskField">*</span> </label> <div class=""> 
                             <select class="select form-control" id="id_category" name="category"> <option selected="" value="Books">Books</option> <option value="Clothing">Clothing</option> <option value="Electronics">Electronics</option> <option value="Furniture">Furniture</option> <option value="Footwear">Footwear</option> <option value=""></option>
                            </select> </div> </div> {% endcomment %}
                        
                        
                        <div class="form-group" id="div_id_sub_category"> 
                        <label for="div_id_sub_category">
                                Sub Category<span>*</span>
                        </label> 
                    </div> 
                    
                    </fieldset>
                    <fieldset>
                        
                       <h5  > <legend><span class="number"><i class="fa fa-upload" aria-hidden="true"></i></span> Upload Extra Images</legend></h5>
                        
                        <div id='img'>{{image_form|crispy}}</div>
                    </fieldset>
                    
                    <fieldset>
                        <br />
                       <h5  > <legend><span class="number"><i class="fa fa-upload" aria-hidden="true"></i></span>Location</legend></h5>
                        <label for="mark">Select Your Location*</label><div class='location_inner'  style='max-height:37px'><input id='mark' readonly required value="CURRENT LOCATION" type='text' class=' form-control' ><i class='fa fa-map-marker fa-2x'></i></div>
                        <div class='location_validation' style='padding-bottom:20px' ></div>
                        {{location_form|crispy}}
                        <small class='text-muted float-right' ><input required type='checkbox' style='width:10px;height:10px;'> I agree to the Terms and Conditions*<small>
                    </fieldset>

                    <input id ='submit' type="submit" style="margin-top:15px">  
                </form>
            </div>
        </div>
    </body>
</html>

{% endblock content %}