<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="index.css">
        <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class = "main-container">
            <h2>Categories</h2>
            <div class = "filter-container">
                <div class = "category-head">
                    <ul>
                        <div class = "category-title active" id = "all">
                            <li>All</li>
                            <span><i class = "fas fa-border-all"></i></span>
                        </div>
                        <div class = "category-title" id = "books">
                            <li>Books</li>
                            <span><i class = "fas fa-book"></i></span>
                        </div>
                        <div class = "category-title" id = "electronics">
                            <li>Electronics</li>
                            <span><i class = "fas fa-desktop"></i></span>
                        </div>
                        <div class = "category-title" id = "footwear">
                            <li>Footwear</li>
                            <span><i class = "fas fa-shoe-prints"></i></span>
                        </div>
                        <div class = "category-title" id = "furniture">
                            <li>Furniture</li>
                            <span><i class = "fas fa-bed"></i></span>
                        </div>
                        <div class = "category-title" id = "pants">
                            <li>Pants</li>
                            <span><i class = "fas fa-running"></i></span>
                        </div>
                        <div class = "category-title" id = "shirts">
                            <li>Shirts</li>
                            <span><i class = "fas fa-user-tie"></i></span>
                        </div>
                        <div class = "category-title" id = "tshirts">
                            <li>T-Shirts</li>
                            <span><i class = "fas fa-tshirt"></i></span>
                        </div>
                        <div class = "category-title" id = "utensils">
                            <li>Utensils</li>
                            <span><i class = "fas fa-utensils"></i></span>
                        </div>
                    </ul>
                </div>

                <div class = "posts-collect">
                    <div class = "posts-main-container">
                        <!-- single post -->
                        <div class = "all books single-post">
                            <div class = "post-img">
                                <img src = "images/books-1.jpeg" alt = "post">
                                <span class = "category-name">books</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">Get Now</button>
                        </div>

                        <div class = "all books single-post">
                            <div class = "post-img">
                                <img src = "images/books-2.jpeg" alt = "post">
                                <span class = "category-name">books</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">Get Now</button>
                        </div>

                        <div class = "all books single-post">
                            <div class = "post-img">
                                <img src = "images/books-3.jpeg" alt = "post">
                                <span class = "category-name">books</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">Get Now</button>
                        </div>

                        <div class = "all electronics single-post">
                            <div class = "post-img">
                                <img src = "images/electronics-1.jpeg" alt = "post">
                                <span class = "category-name">electronics</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all electronics single-post">
                            <div class = "post-img">
                                <img src = "images/electronics-2.jpeg" alt = "post">
                                <span class = "category-name">electronics</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all electronics single-post">
                            <div class = "post-img">
                                <img src = "images/electronics-3.jpeg" alt = "post">
                                <span class = "category-name">electronics</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>
                       
                        <div class = "all footwear single-post">
                            <div class = "post-img">
                                <img src = "images/footwear-1.jpeg" alt = "post">
                                <span class = "category-name">footwear</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all footwear single-post">
                            <div class = "post-img">
                                <img src = "images/footwear-2.jpeg" alt = "post">
                                <span class = "category-name">footwear</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all footwear single-post">
                            <div class = "post-img">
                                <img src = "images/footwear-3.jpeg" alt = "post">
                                <span class = "category-name">footwear</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all furniture single-post">
                            <div class = "post-img">
                                <img src = "images/furniture-1.jpeg" alt = "post">
                                <span class = "category-name">furniture</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all furniture single-post">
                            <div class = "post-img">
                                <img src = "images/furniture-2.jpeg" alt = "post">
                                <span class = "category-name">furniture</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all furniture single-post">
                            <div class = "post-img">
                                <img src = "images/furniture-3.jpeg" alt = "post">
                                <span class = "category-name">furniture</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all pants single-post">
                            <div class = "post-img">
                                <img src = "images/pants-1.jpeg" alt = "post">
                                <span class = "category-name">pants</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all pants single-post">
                            <div class = "post-img">
                                <img src = "images/pants-2.jpeg" alt = "post">
                                <span class = "category-name">pants</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all pants single-post">
                            <div class = "post-img">
                                <img src = "images/pants-3.jpeg" alt = "post">
                                <span class = "category-name">pants</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all shirts single-post">
                            <div class = "post-img">
                                <img src = "images/shirts-1.jpeg" alt = "post">
                                <span class = "category-name">shirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all shirts single-post">
                            <div class = "post-img">
                                <img src = "images/shirts-2.jpeg" alt = "post">
                                <span class = "category-name">shirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all shirts single-post">
                            <div class = "post-img">
                                <img src = "images/shirts-3.jpeg" alt = "post">
                                <span class = "category-name">shirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>
                        
                        <div class = "all tshirts single-post">
                            <div class = "post-img">
                                <img src = "images/tshirt-1.jpeg" alt = "post">
                                <span class = "category-name">tshirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all tshirts single-post">
                            <div class = "post-img">
                                <img src = "images/tshirt-2.jpeg" alt = "post">
                                <span class = "category-name">tshirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all tshirts single-post">
                            <div class = "post-img">
                                <img src = "images/tshirt-3.jpeg" alt = "post">
                                <span class = "category-name">tshirts</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all utensils single-post">
                            <div class = "post-img">
                                <img src = "images/utensils-1.jpeg" alt = "post">
                                <span class = "category-name">utensils</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all utensils single-post">
                            <div class = "post-img">
                                <img src = "images/utensils-2.jpeg" alt = "post">
                                <span class = "category-name">utensils</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>

                        <div class = "all utensils single-post">
                            <div class = "post-img">
                                <img src = "images/utensils-3.jpeg" alt = "post">
                                <span class = "category-name">utensils</span>
                            </div>

                            <div class = "post-content">
                                <div class = "post-content-top">
                                    <span><i class = "fas fa-calendar"></i>January 01, 2XXX</span>
                                </div>
                                <h2>Lorem ipsum dolor sit amet</h2>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus recusandae aspernatur possimus illum, repellat ad quasi earum, illo voluptatibus minima fugiat saepe magni corporis vero eius accusantium quidem, consectetur nesciunt!</p>
                            </div>
                            <button type = "button" class = "read-btn">More</button>
                        </div>
                   
                    </div>
                </div>
            </div>
        </div>
        

        <!-- JS file -->
        <script src = "index.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>    

    </body>
</html>
