{% extends 'donation/base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Product Detail</title>
    <link rel="stylesheet" href="{% static 'donation/post_detail.css' %}">
  </head>

  <body>
	
	<div class="container">
		<div class="card">
			<div class="container-fliud">
				<div class="wrapper-detail row">
					<div class="preview col-md-6">
						
						<div class="preview-pic tab-content">
						  <div class="tab-pane active" id="main_pic-{{post.id}}"><img src="{{post.main_image.url}}" /></div>
						  {% for img in post.post_img.all %}
              <div class="tab-pane" id="pic-{{img.id}}"><img src="{{img.images.url}}" /></div>
              {% endfor %}
            </div>
            
						<ul class="preview-thumbnail nav nav-tabs">
						  <li class="active"><a data-target="#main_pic-{{post.id}}" data-toggle="tab"><img src="{{post.main_image.url}}" /></a></li>
						  {% for img in post.post_img.all%}
              <li><a data-target="#pic-{{img.id}}" data-toggle="tab"><img src="{{img.images.url}}" /></a></li>
              {% endfor %}
          	</ul>
						
					</div>
					<div class="details col-md-6">
            <span style="margin-bottom:20px;"><h3 class="product-title">{{post.title}}
            
              <div class='float-right' style="display:flex;padding:1px;margin:0px;">
              {% if user.is_authenticated %}
                <div class="anim-icon anim-icon-md bookmark" style="margin-top:0px;">
                {% if user in post.bookmarked.all %}
                    <input value="True" type="checkbox" id="bookmark" />
                {% else %}
                    <input value="False" type="checkbox" id="bookmark" />
                {% endif %}
                    <label for="bookmark"></label>
                </div>
              {% endif %}
                {% if user == post.author %}
            <button style='border:none;height:38px;' data-toggle="modal" data-target="#deleteModal" class='float-right'><img style="width:38px;height:38px;padding-left:0px;" src = "{% static 'images/delete.png' %}"></img></button>
            {% endif %}
              </div>
            </h3>
              <small class="product-title" style="font-size:14px;" style='color:#595959'>Posted by <a href="{% url 'profile' post.author.profile.slug %}" style="color:#222">{{post.author.first_name}} {{post.author.last_name}}</a></small>
            </span>
            
            <div class="modal fade" id="deleteModal"  role="dialog">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Are you sure you want to delete this post?</h5>
                  </div>
              <div class="modal-footer"style="margin-left:20px;">
                <form method="GET" class='mr-auto'> 
                  <input type="hidden" name="Key" value="DELETE" />
                  <button type="submit" class="btn btn-danger ">Yes</button>
                </form>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

              </div>
              </div>
              </div>
            </div>

			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item">
				  <a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true"><i class="fa fa-list-alt" aria-hidden="true"></i> Description</a>
				</li>
				<li class="nav-item">
				  <a class="nav-link" id="pills-maps-tab" data-toggle="pill" href="#pills-maps" role="tab" aria-controls="pills-maps" aria-selected="false"><i class="fa fa-address-card"></i> Owner Details</a>
				</li>
				
			  </ul>
			  <div class="tab-content"  id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
					<div class="card" style="background-color:#fff;margin-top:0px;padding:10px;">
          <h4 style"color:#003300";>Description</h4>
          {{post.description}}
         </div>
          <div class="card" style="background-color:#fff;margin-top:10px;padding:10px;">
              <h4 style="margin-top:0px;color:#003300">Posted in</h4>
              <div style="width: 100%; overflow: hidden; height: 160px;">
                <iframe 
                  frameborder="0" 
                  scrolling="no" 
                  marginheight="0" 
                  marginwidth="1" 
                  src="https://maps.google.com/maps?q={{post.user_location.location.coords.1}},{{post.user_location.location.coords.0}}&hl=en&z=14&t=m&amp;output=embed" >
                  </iframe>
              </div>
            </div>
          </div>

				<div class="tab-pane fade" id="pills-maps" role="tabpanel" aria-labelledby="pills-maps-tab">
        {% if user.is_authenticated%}

          <div class="card user-profile">
            <a href="{% url 'profile' post.author.profile.slug %}"><img class="avatar"  src="{{post.author.profile.image.url}}" alt="Ash" /></a>
              <h4 class="username">{{post.author.first_name}} {{post.author.last_name}}</h4>
              <div class="description">
                <ul style='list-style:none'>
                <li><i class="fa fa-phone" aria-hidden="true"></i><a href="tel:{{post.author.profile.phone_number}}"> {{post.author.profile.phone_number}}</a></li>
                <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:{{post.author.email}}"> {{post.author.email}}</a></li>
                </ul>
            </div>
          </div>
        {% else%}
        <div class="alert alert-warning">
          You need to be <a href="{% url 'login' %}" class="alert-link">Logged In</a> to view this
        </div>
        
        {% endif %}
        </div>
				</div>	
		
				</div>
				</div>
			</div>
		</div>
	</div>
			<script>
      if($("#bookmark").val() == "True"){ 
          $("#bookmark").click()
      }
        $("#bookmark").click(function(){
          console.log($("#bookmark").val())
          if ($("#bookmark").val() == "False"){
              $("#bookmark").val("True")
              $.get(window.location.href,{bookmark_add:'bookmark_add'})
          }
          else{
            $("#bookmark").val("False")
            $.get(window.location.href,{bookmark_remove:'bookmark_remove'})
          }
         
    })
      </script> 
      <script src = "{% static 'donation/post_detail.js' %}"></script>
  </body>
</html>


{% endblock content %}


