{% extends 'donation/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<html class="login_html">
<body class="login_body">

    <div class="mt-4 container col-sm-4 pt-1">
        <center><canvas  id="myCanvas" width="250" height="250" style="border-radius:25px;object-fit:cover;"></canvas></center>
        <form class = 'mt-4 login_form' method = "POST" >
            {% csrf_token %}
            {% comment %} <input type="text" placeholder="Username" required>
            <input type="password" placeholder="Password" required> {% endcomment %}
            {{form|crispy}}
            <input type="submit" class="w-100" value="Login"></input>
            <small class="mt-3 pass float-left"><a href="{% url 'password_reset' %}">Forgot Password?</a></small>
            <small style class="mt-3 float-right" style="color:black;font-weight:400px;">Not Registered? 
            <a href="{% url 'register' %}">Signup</a>
            </small>

        </form>
    </div>
</body>
<script>
    var canvas = document.getElementById("myCanvas");
    var context = canvas.getContext("2d");

    var img = new Image();
    img.onload = function() {
    context.drawImage(img, 0, 0);
    };
    img.src = "{% static "images/login.png" %}";
</script>
</html>

{% endblock content %}

