{% extends 'donation/base.html' %}
{% load static %}
{% load crispy_forms_tags%}

{% block content %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Profile Page</title>
    <link rel="stylesheet" href="{% static 'donation/profile.css' %}">
</head>

<body>
    <div class="container">
        <div class="profile-header">
            <div class="profile-img">
                <img src="/media/{{ profile.image }}" width="200"  alt="">
            </div>
            <div class="profile-nav-info">
                <h3 class="user-name"> Bright Code </h3>
                <div class="address">
                    <p class="state">New york </p>
                    <span class="country">USA</span>
                </div>
            </div>
            <div class="profile-option">
                <div class="notification">
                    <i class="fa bell"></i>
                    <span class="alert-message">1</span>
                </div>

            </div>
        </div>
        <div class="main-bd">
            <div class="left-side">
                <div class="profile-side">
                    <p class="mobile-no"><i class="fa phone">
                    </i>{{profile.phone}}</p>
                    <p class="user-mail"><i class="fa fa-envelope"></i>{{user_profile.email}}</p>
                    <div class="user-bio">
                        <h3>Bio</h3>
                        <p class="bio">{{profile.bio}}
                        </p>
                    </div>
                    <div class="profile-btn">
                        <button class="classbtn">
                            <i class="fa fa-comment"></i>
                            Chat 
                        </button>
                        <button class="create-btn">
                            <i class="fa fa-plus"></i>Create
                        </button>
                    </div>
                    {% comment %} <div class="user-rting">
                        <h3 class="rating">4.5</h3>
                        <div class="rate">
                            <div class="stars">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <span class="no-user"> <span>123</span>&nbsp;&nbsp; reviews</span>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="right-side">
              <ul class="tabs clearfix" style="list-style:none" data-tabgroup="first-tab-group">
                <li><a href="#tab1" class="active">Posts</a></li>
                <li><a href="#tab2">Reviews</a></li>
                <li class='tabs3'><a href="#tab3">Settings</a></li>
            </ul>

            <section id="first-tab-group" class="tabgroup">
                <div id="tab1">
                    <div class="wrapper2">
                        <div class="links">
                            <ul>
                                <li data-view="list-view" class="li-list active">
                                <i class="fa fa-th-list"></i>
                                List View</li>
                                <li data-view="grid-view" class="li-grid">
                                <i class="fa fa-th-large"></i>
                                Grid View</li>
                            </ul>
                        </div>
                        <div class="view_main">
                            <div class="view_wrap list-view" style="display: block;">
                                {% for post in posts %}
                                <div class="view_item">
                                    <div class="vi_left">
                                        <img src="/media/{{post.post_img.all.0.main_image}}" alt="{{post.title}}">
                                    </div>
                                    <div class="vi_right">
                                        <p class="title">{{post.title}}</p>
                                        <p class="content">{{post.description|truncatechars:50}}</p>
                                        <div class="btn">View Post</div>
                                    </div>       
                                </div>
                                {% endfor %}
                            </div>
                            <div class="view_wrap grid-view" style="display: none;">
                            {% for post in posts %}
                                <div class="view_item">
                                   <div class="vi_left">
                                        <img height="100px" src="/media/{{post.post_img.all.0.main_image}}" alt="{{post.title}}">
                                    </div>
                                    <div class="vi_right">
                                        <p class="title">{{post.title}}</p>
                                        <p class="content">{{post.description|truncatechars:50}}</p>
                                        <div class="btn">View Post</div>
                                    </div>       
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>


                    {% comment %} {% if is_paginated %}

                        {% if page_obj.has_previous %}
                        <a class="btn btn-outline-info mb-4 btn-sm" href="?page=1">First</a> <b style="color:#17a2b8">. . . . . </b> 
                        <a class="btn btn-outline-info mb-4 btn-sm" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <a class="btn btn-info mb-4 btn-sm" href="?page={{ num }}">{{ num }}</a>
                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                            <a class="btn btn-outline-info mb-4 btn-sm" href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                        <a class="btn btn-outline-info mb-4 btn-sm" href="?page={{ page_obj.next_page_number }}">Next</a>  <b style="color:#17a2b8">. . . . .</b>
                        <a class="btn btn-outline-info mb-4 btn-sm" href="?page={{ page_obj.paginator.num_pages }}">Last</a> 
                        {% endif %}
                    
                    {% endif %} {% endcomment %}
                </div>
                <div id="tab2">

                </div>
                <div id="tab3" >
                <div style="background:white">
                    <h2>Heading 3</h2>
                    <form method="POST" name="settings">
                    {% csrf_token %}
                        {{UserForm|crispy}}
                        {{ProfileForm|crispy}}
                        <input type="submit" class='btn btn-primary'></input>
                    </form> 
                </div>               
                </div>
            </section>
            
          
                </div>
            </div>
        </div>
    </div>


    </div>
    <script>

    $('.tabgroup > div').hide();
    $('.tabgroup > div:first-of-type').show();
    $('.tabs a').click(function(e){
    e.preventDefault();
        var $this = $(this),
            tabgroup = '#'+$this.parents('.tabs').data('tabgroup'),
            others = $this.closest('li').siblings().children('a'),
            target = $this.attr('href');
        others.removeClass('active');
        $this.addClass('active');
        $(tabgroup).children('div').hide();
        $(target).show();
    
    })

    var li_links = document.querySelectorAll(".links ul li");
    var view_wraps = document.querySelectorAll(".view_wrap");
    var list_view = document.querySelector(".list-view");
    var grid_view = document.querySelector(".grid-view");

    li_links.forEach(function(link){
        link.addEventListener("click", function(){
            li_links.forEach(function(link){
                link.classList.remove("active");
            })

            link.classList.add("active");
            var li_view = link.getAttribute("data-view");
            view_wraps.forEach(function(view){
                view.style.display = "none";
            })
            if(li_view == "list-view"){
                list_view.style.display = "block";
            }
            else{
                grid_view.style.display = "block";
            }
        })
    })
    </script>

</body>
</html>

{% endblock content %}