{% extends 'donation/base.html' %}
{% load crispy_forms_tags%}

{% block content %}

<body class="register_body">
    <div class="wrapper">
        <form name="register" method="POST">
            {% csrf_token %}
            <div class="title ">Registration Form</div>
            <div class="form">
            {{UserForm|crispy}}
            {{ProfileForm|crispy}}
            <div class="input-field">
                <input type="submit" name="register" class="btn">
            </div>
        </div>
        </form>
    </div>
</body>
{% endblock content %}
